:root {
    --foreground: #5e5e63;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 70px;
    height: 26px;
    background: var(--foreground);
    border-radius: 50px;
    --c:no-repeat radial-gradient(farthest-side,#000 92%,#0000);
    --s:18px 18px;
    -webkit-mask:
      var(--c) left  4px top 50%,
      var(--c) center,
      var(--c) right 4px top 50%,
      linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    animation: l1 1.5s infinite;
  }
  @keyframes l1 {
    0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
    16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
    33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
    50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
    66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
    83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
    100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}


.section {
    width: 100%;
    min-height: max-content;
}

.title {
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 100px;
  font-weight: bold;
}

.text-gradient-effect {
  background: linear-gradient(180deg, white, white, #737376);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}