html {scroll-behavior: smooth;}
* {color: white;}
body {margin: 0;}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 700px) {
  * {
    font-family: DM Sans;
  }
  body {
    background-image: url("/img/bg.jpeg");
  }
}

@media only screen and (max-width: 700px) {
  * {
    font-family: Inter, sans-serif;
  }
  body {
    width: 100%;
    background: 
    linear-gradient(220deg, #20153cdd, #654f9cdd),
      radial-gradient(circle at 18% -21%, rgba(80,80,80,1), rgba(0,0,0,.9)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 372 372' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.65' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    /* background: 
    linear-gradient(220deg, rgba(80,80,80,1), rgba(207, 207, 207, .6)),
      radial-gradient(circle at 18% -21%, rgba(80,80,80,1), rgba(0,0,0,.9)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 372 372' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.65' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  }
}

  
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .visibility-hide{
    visibility: hidden;
  }
  .display-none {
    display: none;
  }
  .display {
    display: initial;
  }
  
  button {
    padding: 0;
    cursor: pointer;
  }
  .color-black {
    color: black;
  }
  .color-white {
    color: white;
  }
  .bold {
    font-weight: bold;
  }