:root {
  --bar-width: 25px;
  --bar-height: 3px;
  --burger-gap: 4px;
  --foreground: #5e5e63;
  --background: white;
  --burger-margin: 10px;
  --animation-timing: 200ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--burger-gap) * 2);
}

.burger-menu {
    --x-width: calc(var(--burger-height) * 1.41421356237);
    box-sizing: unset;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: var(--background);
    border-radius: 150px;
    border: 0;
    padding: 18px;
    gap: var(--burger-gap);
    top: var(--burger-margin);
    left: calc(100vw - var(--bar-width) - (18px*2) - var(--burger-margin));
    z-index: 3;
    outline: none;
    border-style: outset;
}

.burger-menu .bar {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    border: none;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
}

.burger-menu #bar2 {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.burger-menu #bar1.animation {
    rotate: 45deg;
    width: var(--x-width);
    translate: 4px calc(var(--bar-height) / -2);
}

.burger-menu #bar3.animation {
    rotate: -45deg;
    width: var(--x-width);
    translate: 4px calc(var(--bar-height) / 2);
}
  
.burger-menu #bar2.animation {
    opacity: 0;
    width: 0;
}


#nav.show {
    transform: translate(0, 0) scaleX(1);
    opacity: 1;
    z-index: 2;
}

#nav {
    transition: transform 200ms ease-in-out, opacity 100ms ease-in-out, z-index 0ms;
    transform: translate(20%, -20%) scaleX(.5);
    opacity: 0;
    position: fixed;
    z-index: -1;
    height: max-content;
    width: max-content;
    right: calc(var(--burger-margin) + ((var(--bar-width) + (18px*2)) / 2));
    top: calc(var(--burger-margin) + var(--bar-width) + (18px*2) + 1rem);
    background-color: var(--background);
    border-radius: 15px;
}

.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.ul li a {
    color: var(--foreground);
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 15px 35px 15px 25px;
}
.ul li:first-of-type a { padding: 25px 35px 15px 25px }
.ul li:last-of-type a { padding: 15px 35px 25px 25px}

.bi {
    color: var(--foreground);
    margin-right: 20px;
}