* {
  font-family: DM Sans;
  color: #ffffff;
}

.display-none {
  display: none;
}
.display {
  display: initial;
}

button {
  padding: 0;
  cursor: pointer;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.bold {
  font-weight: bold;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("/img/bg.jpeg");
}

.main {
  z-index: 0;
  position: relative;
  margin-top: 0vh;
}

.section {
  height: 100vh;
  width: calc(100%-1px);
  border: 1px solid red;
  scroll-snap-align: center;
}

.title {
  margin: 0;
  font-size: 60px;
}

.welcome-container {
  margin-top: 25vh;
  margin-left: 15%;
}

.reveal-effect-container, .side-effect-container {
  overflow: hidden;
}

.welcome-title {
  max-width: 50%;
}

.subtitle-container {
  display: flex;
  align-items: center;
}

.line-img {
  height: 5px;
  margin-right: 10px;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
}