#experience {
    min-height: 100vh;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.experience-main-container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.side-bar {
    margin: 15% 0;
    height: auto;
    width: 2px;
    background-color: #5e5e63e7;
    border-radius: 10px;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    width: calc(95% - 30px);
}

.experience-container {
    width: calc(100% - 30px);
    border: 1px solid #5e5e63;
    border-radius: 10px;
    /* background: linear-gradient(rgb(104, 104, 104), #484848); */
    background: radial-gradient(circle at 100% -10%, #9612ca, #430f58);
    filter: blur(20);
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.experience-container:last-of-type {
    margin-bottom: 0;
}

.experience-container .experience-point {
    position: absolute;
    left: calc(( ( ( (5vw + 32px) / 3) - 8px) - ( (5vw + 32px) / 3*2) ));
    bottom: 50%;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: linear-gradient(#9612ca, #430f58);
}

.experience-container header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-header-bar {
    margin: 15px 0 10px 2%;
    width: 96%;
    height: 1px;
    background-color: white;

}

.experience-container header div {
    width: 75%;
}

.experience-title {
    font-size: 18px;
    margin: 0;
    width: auto;
}

.experience-date {
    font-size: .8em;
    font-weight: 300;
    margin: 5px 0 0 0;
    width: auto;
}

.company-banner {
    width: 20%;
}

.experience-description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: left;
}