.ride-image-container {
    align-items: center;
    background-color: #ffcf00;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.ride-image {
    aspect-ratio: 1;
    width: 100%;
}

.project-images-slider-container {
    width: 100%;
    height: 50%;
    background-color: #ffcf00;
    display: flex;
    justify-content: center;
}

.project-ride-image-slider {
    aspect-ratio: 416/873;
    padding: 5% 0;
    height: 90%;
    display: flex;
    justify-content: center;
}

.ride-image-slider {
    width: 100%;
    height: 100%;
    filter: drop-shadow(10px 15px 8px rgba(0, 0, 0, 0.4));
}


#project-ride-description-section {
    height: 50%;
    background-color: white;
}